* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    color: #222327;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222327;
}

.navigation {
    position: relative;
    width: 500px;
    height: 90px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul .list {
    position: relative;
    list-style: none;
    width: 80px;
    z-index: 1;
}

.navigation ul .list a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.navigation ul .list a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #222327;
}

.navigation ul .list:hover a .icon {
    transform: translateY(-35px); 
}









