* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.toggle {
    position: relative;
    width: 170px;
    height: 170px;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.08);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 100px;
    height: 9px;
    background: #1863ff;
    border-radius: 10px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-45px);
    width: 65px;
    left: 35px;
}

.toggle.active span:nth-child(1) {
    width: 100px;
    transform: translateY(0px) rotate(45deg);
}

.toggle span:nth-child(2) {
    transform: translateY(45px);
    width: 40px;
    left: 35px;
}

.toggle.active span:nth-child(2) {
    width: 100px;
    transform: translateY(0px) rotate(135deg);
}

.toggle.active span:nth-child(3) {
    transform: translateX(200px) ;
}